<div class="d-flex justify-content-center">
    <main style="background-color: white; width: max-content;">
        <esl-sidebar></esl-sidebar>
        <div class="b-example-divider" style="width: 0.0rem;"></div>
        <div class="container p-4">
            <esl-head-ucl></esl-head-ucl>
            <div class="container bg-light">
                <div class="row">
                    <div class="tamanhodiv">
                        <esl-fupdate></esl-fupdate>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>