<div class="col-12">
  <div class="row linhacaixas bg-light">
    <div class="card mt-4 mb-4 mx-3" style="width: 12rem; border: 1px solid lightblue;">
      <div class="card-body">
        <h6 class="card-title text-center">Total Unidades</h6>
        <h3 class="text-center">{{totalUnidades}}</h3>
      </div>
    </div>

    <div class="card mt-4 mb-4 mx-3" style="width: 12rem; border: 1px solid lightblue;">
      <div class="card-body">
        <h6 class="card-title text-center">Unidades Ativas</h6>
        <h3 class="text-center">{{totalUnidadesAtivas}}</h3>
      </div>
    </div>

    <div class="card mt-4 mb-4 mx-3" style="width: 12rem; border: 1px solid lightblue;">
      <div class="card-body">
        <h6 class="card-title text-center">Unidades Inativas</h6>
        <h3 class="text-center">{{totalUnidadesInativas}}</h3>
      </div>
    </div>

    <div class="card mt-4 mb-4 mx-3" style="width: 12rem; border: 1px solid lightblue;">
      <div class="card-body">
        <h6 class="card-title text-center">Média de Energia</h6>
        <h3 class="text-center">{{mediaEnergiaGerada}} kW </h3>
      </div>
    </div>
  </div>
</div>