
<h1 class="visually-hidden">DEVinHouse Solar Energy</h1>

<div class="d-flex flex-column flex-shrink-0 px-3 py-0 mt-4 text-black" style="width: 250px; background-color: white;">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none justify-content-center">
    <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
    <!-- <span class="fs-4">Sidebar</span> -->
    
    <img src="assets/images/logo_devsolar.png" width="70%" height="70%" alt="">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="/dashboard" routerLinkActive="botaoAtivo" class="nav-link">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/unidades-consumidoras" routerLinkActive="botaoAtivo" class="nav-link">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Unidades
      </a>
    </li>
    <li>
      <a routerLink="/energia-gerada" routerLinkActive="botaoAtivo" class="nav-link">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Cadastro de Energia<br> Gerada
      </a>
    </li>
  </ul>
  <hr>
</div>